body {
    background-color: rgb(31, 31, 31);
}

.top_text {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.for_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 95, 95);
    color: white;
    margin-top: 30px;
    padding: 35px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.pass {
    color: rgb(31, 31, 31);
}

.top_text_new {
    padding-right: 10px;
}

.edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 30px;
    align-items: center;
}

.edit-delete p:hover {
    transform: scale(1.1);
}

.top_text h3:hover {
    transform: scale(1.1);
}

.for_post h3:hover {
    transform: scale(1.1);
}